@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --wht-color: aliceblue;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8ccd7;
    font-family: "source sans 3", sans-serif;
}

h1, h2, h3{
    font-family: "IBM Plex Sans", sans-serif;
}
.header{
    background-color: var(--wht-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
.header nav{
    margin-right: 30px;
}
.header a{
    text-decoration: none;
    color: black;
}
header{
    margin-left: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.item{
    background-color: var(--wht-color);
}

.galery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item a img{
    width: 100%;
    height: auto;
    display: block;
}

.content{
    margin-top: 4rem;
}